.wrapper
  .notice
    %p{class: "notice__sentense"}チャットグループが作成されました。
  .contents
    .side-bar
      .side-bar__my-account
        %p{class: "side-bar__my-account__name"} yosukenn
        = link_to "#", method: :get,class: "side-bar__my-account__create" do
          = fa_icon("edit")
        = link_to "#", method: :get,class: "side-bar__my-account__edit" do
          = fa_icon("cog")
      = render partial: "group"
    .content
      .content__current-group
        %p{class: "content__current-group__name"} group1
        %p{class: "content__current-group__members"} Member : yosukenn, yasuda
        %a{class: "content__current-group__edit", href: '/'}Edit
      = render partial: "message"
      %form{class: "content__message-send"}
        .content__message-send__content
          %input{class: "content__message-send__content__text", type: "text", placeholder: "Type a message"}
          .content__message-send__content__img
            %label
              .content__message-send__content__img-icon
                = fa_icon("image")
              %input{class: "content__message-send__content__image", type: "file"}
            %input{class: "content__message-send__content__btn", type: "submit", value: "Send"}
