.wrapper
  .contents
    .side-bar
      = render partial: "my-account"
      = render partial: "group"
    .content
      = render partial: "current-group"
      = render partial: "message"
      = render partial: "form"
