!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div{class: "wrapper"}
      %div{class: "notice"}
        %p{class: "notice__sentense"}チャットグループが作成されました。
      %div{class: "contents"}
        %div{class: "left-content"}
          %div{class: "my-account"}
            %p{class: "my-account__name"} yosukenn
            = link_to root_path, method: :get,class: "my-account__create" do
              = fa_icon("edit")
            = link_to root_path, method: :get,class: "my-account__edit" do
              = fa_icon("cog")
          %div{class: "group"}
            %p{class: "group__name"} group1
            %p{class: "group__message"} こんにちは
          %div{class: "group"}
            %p{class: "group__name"} group2
            %p{class: "group__message"} こんばんは
        %div{class: "right-content"}
          %div{class: "current-group"}
            %p{class: "current-group__name"} group1
            %p{class: "current-group__members"} Member : yosukenn, yasuda
            %a{class: "current-group__edit", href: '/'}Edit
          %div{class: "message"}
            %p{class: "message__name"} yosukenn
            %p{class: "message__date"}  2018/07/27 07:56
            %p{class: "message__text"}  久しぶり
            / %img{class: "message__img", src: "https://upload.wikimedia.org/wikipedia/en/thumb/9/99/MarioSMBW.png/220px-MarioSMBW.png"}
          %div{class: "message"}
            %p{class: "message__name"}  yasuda
            %p{class: "message__date"}  2018/07/27 09:67
            %p{class: "message__text"}  元気
          %form{class: "message-send"}
            %input{class: "message-send__text", type: "text", placeholder: "Type a message"}
            %input{class: "message-send__image", type: "file"}
            %input{class: "message-send__btn", type: "submit", value: "Send"}
